body {
    opacity: 0;
    transition: opacity 1s;
    font-family: Roboto, Arial, sans-serif;
}

body.show {
    opacity: 1;
}

.mdl-layout__drawer, .mdl-layout__header {
    -webkit-user-select: none;
}

.bg-primary-dark {
    background-color: #00796B;
}

.bg-primary {
    background-color: #009688;
}

.bg-primary-light {
    background-color: #4DB6AC;
}

.mono {
    font-family: "Consolas", monospace;
}

#window-bar {
    -webkit-app-region: drag;
    height: 48px;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #00796B;
    align-items: center;
    padding-right: 8px;
}

#window-bar button {
    -webkit-app-region: no-drag;
}

.mdl-layout__container {
    height: calc(100% - 48px);
}

#drawer-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 40px;
}

.mdl-layout.is-small-screen #drawer-title {
    padding-right: 16px;
}

#open-project-button {
    align-self: flex-start;
    margin-left: 40px;
}

.mdl-layout.is-small-screen #open-project-button {
    margin-left: 16px;
}

#files-nav {
    flex: 1;
    overflow: auto;
    padding-top: 0;
}

.files-nav-file {
    font-size: 18px;
    color: #424242 !important;
}

main {
    display: flex;
    flex-direction: column;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#internal-error-dialog {
    width: fit-content;
}