.bg-primary-dark {
    background-color: #00796B;
}

.bg-primary-light {
    background-color: #4DB6AC;
}

.mono {
    font-family: "Consolas", monospace;
}

#top-header-row {
    -webkit-app-region: drag;
}

#top-header-row button, .mdl-layout__drawer-button {
    -webkit-app-region: no-drag;
}

main {
    display: flex;
    flex-direction: column;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#internal-error-dialog {
    width: fit-content;
}