.mono {
    font-family: "Consolas", monospace;
}

.mdl-layout__title {
    top: -3px;
}

main {
    display: flex;
    flex-direction: column;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#internal-error-dialog {
    width: fit-content;
}